body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #f8fafc, #e2e8f0);
}

.Bar{
   /* background-color: rgb(79, 77, 169);*/
    padding: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;

    background: linear-gradient(90deg, #1e3a8a, #3b82f6, #60a5fa);
    
}

.Bar h2{
    color: white;
}

.menu a{
   text-decoration: none;
    margin-left: 20px;
    color: white;
}
.menu a:hover{
    color: blue;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
/*skills in about */
ul li{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
/*image in home page*/
.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    /*margin-top: 15px;*/

    border: 4px solid #3b82f6;
}

.hero{
    text-align: center;
    padding: 100px 20px;
}

.hero h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.hero h3{
    color: #3b82f6;
    margin-bottom: 20px;
}
.hero p{
    max-width: 600px;
    margin: auto;
    font-size: 18px;
}

.btn{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #1e3a8a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover{
    background: #3b82f6;
}
/*project page*/
.projects{
    text-align: center;
    padding: 50px 20px;
}

.project-card{
    background: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.project-card:hover{
    transform: translateY(-5px);
}

.project-card h3{
    color: #1e3a8a;
}

/*contact page*/

.contact{
    text-align: center;
    padding: 50px 20px;
}

.contact-box{
    background: white;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.contact-box p{
    font-size: 18px;
    margin: 10px 0;
}